
//login.component.html
<div align="center" class="login-content">
       <h4 class="container text-primary"> Acceso a Usuarios </h4>
    <form #login_form="ngForm" class="margin-bottom-0" novalidate="novalidate" autocomplete="off">
        <div class="form-group m-b-20">
            <input type="text" class="form-control form-control-lg inverse-mode login-input" placeholder="Usuario"
                name="username" #username="ngModel" [(ngModel)]="login_data.username" required="true" />
            <p *ngIf="username.errors && username.errors.required && submitted" class="login-error-text"><i
                    class="fa fa-exclamation-circle login-error-icon"></i>El usuario es requerido</p>
        </div>
        <div class="form-group m-b-20">
            <input type="password" class="form-control form-control-lg inverse-mode login-input"
                placeholder="Contraseña" name="password" #password="ngModel" [(ngModel)]="login_data.password"
                required="true" />
            <p *ngIf="password.errors && password.errors.required && submitted" class="login-error-text"><i
                    class="fa fa-exclamation-circle login-error-icon"></i>La contraseña es requerida</p>
        </div>
        <div class="login-buttons">
            <button (click)="login()" [disabled]="loading" type="submit" class="btn btn-info btn-block btn-lg">
                <span *ngIf="!loading"><i class="fa fa-sign-in-alt"></i> Conectarse</span>
                <span *ngIf="loading"><i class="fa fa-spin fa-spinner">Conectando...</i></span>
            </button>
        </div>
        <br>
    </form>
</div>



