<div class="container-fluid">
  <app-navbar></app-navbar>
  <h1 class="text-danger">Listado de Vehiculos</h1>
  <p class="text-muted">A continuacion el listado de vehiculos registrados</p>

  <!--llama a un servicio-->
  <button (click)="get_vehiculos()" class="btn btn-info btn-sm">Cargar de Vehiculos</button>

  <!--tabla que despliega la lista de vehiculos-->
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Placa</th>
        <th scope="col">Color</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <!--<th scope="col">Ciudad</th>-->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lista of listadoVehiculos">
        <th>{{lista.placa}}</th>
        <td>{{lista.color}}</td>
        <td>{{lista.marca}}</td>
        <td>{{lista.modelo}}</td>
        <!--<td>{{lista.ciudad}}</td>-->
        <td>
          <button type="button" class="btn btn-primary"
                  data-toggle="modal" data-target="#EditarModal"
                  (click)="pasarDatosVehiculo(lista)">
            Editar
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="delete_vehiculo(lista.placa)">

            Borrar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="text-info">Insertar un vehiculo</h2>

  <form ngNativeValidate #form>
    <div class="form-group">
      <label for="txtplaca">Placa:</label>
      <input  type="text" class="form-control"
              id="txtplaca" placeholder="Introduzca el numero de placa"
              [(ngModel)]="Vehiculo.placa"
              [ngModelOptions]="{standalone:true}"
              required="true"
              minlength="7" maxlength="7"
              pattern="^[a-zA-Z]{3}[0-9]{4}$">
    </div>

    <div class="form-group">
      <label for="txtcolor">Color:</label>
      <input  type="text" class="form-control"
              id="txtcolor" placeholder="Introduzca el Color del carro"
              [(ngModel)]="Vehiculo.color"
              [ngModelOptions]="{standalone:true}"
              required="true"
              pattern="[a-zA-Z]{4,5}">
    </div>

    <div class="form-group">
      <label for="txtmarca">Marca:</label>
      <input  type="text" class="form-control"
              id="txtmarca" placeholder="Introduzca la marca del vehiculo"
              [(ngModel)]="Vehiculo.marca"
              [ngModelOptions]="{standalone:true}"
              required="true"
              pattern="[a-zA-Z]{4,5}">
    </div>

    <div class="form-group">
      <label for="txtmodelo">Modelo:</label>
        <input  type="text" class="form-control"
                id="txtmodelo" placeholder="Introduzca el modelo del vehiculos"
                [(ngModel)]="Vehiculo.modelo"
                [ngModelOptions]="{standalone:true}"
                required="true"
                maxlength="45">
    </div>
    <div class="form-group">
    <!--
    <label for="txtmodelo">Ciudad:</label>
      <option type="text" class="form-control" id="txtmodelo" placeholder="Introduzca el modelo del vehiculos"
        [(ngModel)]="Vehiculo.ciudad2" [ngModelOptions]="{standalone:true}">Tocoa</option>  -->
    </div>
    <button (click)="form.checkValidity()?insertar_vehiculo():null"
             class="btn btn-dark">Insertar Vehiculo</button>
  </form>

  <!-- Pantalla Modal -->
  <div class="modal fade" id="EditarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar Datos Del Vehiculo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form >
            <div class="form-group">
              <label for="txtplaca">Placa:</label>
              <input type="text" class="form-control" id="txtplaca" placeholder="Introduzca el numero de placa"
                [(ngModel)]="Vehiculo.placa" [ngModelOptions]="{standalone:true}"
                readonly=true>
            </div>

            <div class="form-group">
              <label for="txtcolor">Color:</label>
              <input  type="text" class="form-control"
                      id="txtcolor" placeholder="Introduzca el Color del carro"
                      [(ngModel)]="Vehiculo.color" [ngModelOptions]="{standalone:true}"
                      required="true" pattern="[a-zA-Z]"
                >
            </div>

            <div class="form-group">
              <label for="txtmarca">Marca:</label>
              <input type="text" class="form-control" id="txtmarca" placeholder="Introduzca la marca del vehiculo"
                [(ngModel)]="Vehiculo.marca" [ngModelOptions]="{standalone:true}">
            </div>

            <div class="form-group">
              <label for="txtmodelo">Modelo:</label>
              <input type="text" class="form-control" id="txtmodelo" placeholder="Introduzca el modelo del vehiculos"
                [(ngModel)]="Vehiculo.modelo" [ngModelOptions]="{standalone:true}">
            </div>

            <!--
            <div class="form-group">
              <label for="txtmodelo">Ciudad:</label>
              <select >
                    <option value="">Seleccione la ciudad</option>
                    <option
                      *ngFor="let ciudad of listadoCiudades"
                      [value]="ciudad.ciudad2">{{ciudad.ciudad2}}</option>
              </select>
            </div>  -->

          </form>

        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-primary"
                  (click)="update_vehiculo()"
                  >Guardar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
